html,body{
	margin:0;
	padding:0;
	text-align:center;
}
#canvas-game{
	margin:0 auto;
	text-align:left;
	width:612px;
	margin-top:20px;
	border:Solid 1px #ebe5e5;
	height:385px;
	position:relative;
}
